<h1><%= "#{@dish['name']}"%></h1>
<%= "<img class = 'prof_pic' src = '#{@dish['img_url']}'>"%>
<form action="/dishes/<%= "#{@dish['id']}"%>" method="post">
  <input type="hidden" name="_method" value = "put">
  <label for="">name:</label>
  <%="<input name='name' type='text' value='#{@dish['name']}' >"%>
  <label for="">Image Url:</label>
  <%="<input name='img_url' type='text' value=#{@dish['img_url']} >"%>
  <div></div>
  <button>Edit dish</button>
</form>
